

body {
    background-image: url("images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: blueviolet;

}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
    flex: 1 1 0;
}

.hero-text {    
    max-width: 450px;
    color: white;
    font-family: Arial, sans-serif;
}


.btn {
    margin-top: 10px;
    background: rgb(240, 4, 240);
    color: white;
   padding: 10px; 
    border-radius: 20px;
    border: 2px solid rgb(240, 4, 240);
    width: 100px;
    transition: all 2.0s ease;
}

.btn:hover {
    background: rgb(219, 203, 219);
    color: beige;
    transition: all 2.0s ease;
}

button, .btn {
    cursor: pointer;            
}

.footer-icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.icon {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    text-decoration: none;
}

    @media screen (max-width: 900px) { 
.container {
    grid-template-areas: 
    "header"
    "hero"
    "footer-icons";
    grid-template-columns: 1fr; 
    }
}


@media screen and (max-width:768px) {
    body {
        background-attachment: scroll;
        background-image: url(images/bg-mobile.svg);       
    }
}

@media (max-width: 768px) {
    .container {
        padding: 40px 20px;
        justify-content: space-between;
    }

    header {
        margin-bottom: 40px;
        order: 0;
        width: 100%;
        text-align: left;
        padding-left: 0;
    }

    .hero {
        flex-direction: column;
        order: 1;
        margin-bottom: 30px;
    }

    .hero-image {
      margin-bottom: 40px;  
    }

    .hero-image img {
        height: 35vh;
        width: auto;
    }

    .hero-text {
        text-align: center;
        order: 2;
        padding: 0;
    }

    .hero-text h1 {
       font-size: 24px;
       margin-bottom: 20px;
    }

    .hero-text p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .btn {
        padding: 15px 70px;
    }

    .footer-icons {
        order: 3;
        padding-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}